html {
  box-sizing: border-box;
  }
  *, *:before, *:after {
  box-sizing: inherit;
  }
  /* Responsive Images Reset */
  img {
  max-width: 100%;
  }
  
  footer,header, p{
  font-family: 'Montserrat', sans-serif;
  }
  article, p{
  line-height:30px;
  }
  
  body{
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image:none;
  }
  
  header h1{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  }
  
  .wrapper1 {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: #3650e6;
  min-width: 500px;
  
  }
  
  .wrapper {
  background-color: #3650e6;
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-between;
  border-bottom: 10px double black;
  }
  
  body.show header nav ul {
  display: flex;
  
  }
  .japan {
  display:block;
  justify-content: space-between;
  padding-left:20px;
  color: white;
  padding-top:35px;
  text-decoration: none;
  font-size:50px;
  font-family: 'Montserrat', sans-serif;
  }
  header a{
  text-decoration: none;
  color:white;
  
  }
  .btn-menu {
  display: flex;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  padding-top:40px;
  cursor: pointer;
  right:30px;
  position:absolute;
  font-family: 'Montserrat', sans-serif;
  }
  
  header a:hover,
  header a:active,
  header a:focus {
  color: white;
  }
  
  
  
  .btn-menu:focus {
  outline: 1px solid rgba(255,255,255, 0.3);
  }
  
  
  header nav {
  display: none;
  clear: both;
  text-align: center;
  align-items: center;
  width:80%;
  padding: 0;
  
  }
  
  header ul {
  display:block;
  color: white;
  list-style: none;
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  
  }
  
  
  header nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  height:30px;
  color:white;
  }
  
  header nav a:hover,
  header nav a:focus,
  header nav a:active {
  background-color: rgba(255, 255, 255, 0.425);
  border:1px solid black;
  }
  
  .show header {
  height: auto;
  }
  
  .show header nav {
  display: block;
  }
  
  .banner{
  position: relative;
  
  }
  .banner2{
  color:white;
  display:flex;
  top:0;
  right:0;
  height:100%;
  width:100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size:45px;
  font-weight: bold;
  }
  
  section h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  }
  
  /* Hero Slider Styles */
  .hero-slider{
  position: relative;
  width:85%;
  margin: 0 auto;
  overflow:hidden;
  
  }
  .prev,
  .next {
  display: block;
  background: none;
  border: none;
  margin:0;
  padding: 0;
  cursor: pointer;
  z-index:900;
  bottom:40%;
  width: 5vw;
  position: absolute;
  }
  
  .prev{
  left: 10px;
  }
  .next{
  right:10px;
  }
  
  
  .hero-slider-th-container{
  display:flex;
  z-index:100;
  background-color:rgba(0,0,0,0.7);
  position:absolute;
  bottom:10px;
  left:50%;
  border-radius: 5px;
  border: 1px solid white;
  padding:5px;
  transform:translateX(-50%);
  }
  
  .hero-slider-th-container a{
  width:60px;
  margin-right:5px;
  }
  
  .hero-slide-th-container img{
  display:block;
  max-width:100%;
  max-height: 100%;
  }
  
  
  /* End Hero Slider Styles */
  
  table img{
  width:100vw;
  height: 23vw;
  }
  article {
  margin:0;
  }
  
  section h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  }
  
  
  footer {
  text-align: center;
  background-color: rgba(37, 1, 1, 0.966);
  color: aliceblue;
  }
  @media (min-width: 850px){
  body{
    background-image: url(../images/bg.jpg);
  }
  .btn-menu {
  display: none;
  }
  .japan {
  padding-top:30px;
  }
  header nav {
  width: 50%;
  display:block;
  margin-top:30px;
  }
  
  header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction:row;
  }
  
  header nav li {
  flex: 1;
  }
  
  header nav a {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 30px;
  text-align: center;
  }
  
  header nav a:hover,
  header nav a:active,
  header nav a:focus {
  color: white;
  background-color: rgba(255,255,255,0.3);
  text-decoration: none;
  }
  
  .row {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  /* flex-wrap:wrap; */
  
  padding:10px;
  }
  
  .cult-article article{
  width:30%;
  border: 4px dotted rgb(121, 7, 70);
  padding:10px;
  }
  .section img {
  align-content: space-between;
  height:30vw;
  }
  
  footer {
  padding: 1rem;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  }